#log-in-div{
	margin: 0 auto;
}

.stock-exp-title{
	font-size: 2em;
	position: relative;
	top: 17px;
	bottom: 20px;
	font-weight: bolder;
}

hr{
	position: relative;
	top: 32px;
}


#favcolor{
	position: relative;
	top: 10px;
	height: 46px;
	width: 220px;
	font-size: 2.4em;
}