body {
  background-color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

#log-in-div{
	width: 700px;
	height: 500px;
	border: 10px solid blue;
	margin: 0 auto;
	background-color: white;
	position: relative;
	top: -95px;
	
}

.ch-simplified{
	position: relative;
	top: -38px;
	visibility: hidden;
}

.english{
	visibility: visible;
}

#accounta{
	top: -25px;
}

#inputpassword{
	position: relative;
	top: -12px;
}

.english#accounta{
	top: -13px;
}


#accountinput{
	top: -28px;
}

#stock-exp-title{
	font-size: 4em;
	font-weight: bold;
	color: orange;
	position: relative;
	top: 20px;
}

#stock-exp-title-ch-sim{
    font-size: 4em;
	font-weight: bold;
	color: orange;
	position: relative;
	top: -100px;
	left: 210px;
}

#stock-exp-descript-ch-sim{
	font-size: 2em;
	font-weight: bold;
	position: relative;
	left: 560px;
	top: -200px;
}

hr{
   position: relative;
   top: -140px;
   color: blue;
}

#stock-exp-descript{
	font-size: 2em;
	font-weight: bold;
	position: relative;
	left: 520px;
	top: -140px;
}

#lock-icon{
	font-size: 1em;
}

a{
  font-size: 0.4em;
  position: relative;

}

form{
	font-size: 2em;
	font-weight: bolder;
	color: green;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 40px;
}

input{
	height: 37px;
	width: 300px;
	position: relative;
	top: 5px;
	margin: 0 auto;
}

form span{
	line-height: 1.4em;
}

select{
	height: 27px;
	width: 180px;
	text-align: center;
	font-weight: bold;
}

option{
	text-align: center;
	font-weight: bold;
}

#submit{
	background-color: blue;
	color: white;
	font-size: 0.7em;
	width: 120px;
	height: 42px;
	position: relative;
	top: 30px;
}

#en-password-title{
	position: absolute;
	top: 145px;
	left: 240px;
}

#ch-simplified-password-title{
	position: absolute;
	top: 145px;
	left: 280px;
}

#passwordaen{
	position:relative;
	top: -10px;
}
