body {
  background-color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

#log-in-div{
	width: 700px;
	height: 500px;
	border: 10px solid blue;
	margin: 0 auto;
	background-color: white;
	position: relative;
	top: -30px;
	
}

#stock-exp-title{
	font-size: 4em;
	font-weight: bold;
	color: orange;
}

hr{
   position: relative;
   top: -40px;
   color: blue;
}

#stock-exp-descript{
	font-size: 2em;
	font-weight: bold;
	position: relative;
	left: 420px;
	top: -50px;
}

#lock-icon{
	font-size: 1em;
}

a{
  font-size: 0.4em;
  position: relative;

}

form{
	font-size: 2em;
	font-weight: bolder;
	color: green;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 40px;
}

input{
	height: 37px;
	width: 300px;
	position: relative;
	top: 5px;
	margin: 0 auto;
}

form span{
	line-height: 1.4em;
}

select{
	height: 27px;
	width: 180px;
	text-align: center;
	font-weight: bold;
}

option{
	text-align: center;
	font-weight: bold;
}

#submit{
	background-color: blue;
	color: white;
	font-size: 0.7em;
	width: 120px;
	height: 42px;
	position: relative;
	top: 30px;
}


